.clickMe{
    background-color: transparent;
    position: relative;
    text-align: left;
    font-size: 1.25em;
    transition: 0.2s;
}
.clickMe span:first-child{
    z-index: 1;
}
.clickMe span:last-child{
    margin-left: 20px;
    transform: translateX(-10px);
    transition: all 0.5s;
}
.clickMe::before{
    transition: all 0.5s;
    content: '';
    position: absolute;
    left: 0;
    width: 60px;
    height: 60px;
    background-color: pink;
    border-radius: 30px;
}
.clickMe:hover span:last-child{
    transform: translateX(0px);
}
.clickMe:hover::before{
    width: 100%;
    background-color: rgb(250, 128, 148);
}
.clickMe:active{
    transform: scale(0.97);
}