.box-rotation{
    width: 60px;
    height: 60px;
    background: linear-gradient(rgb(1, 255, 119), rgb(162, 248, 202));
    animation: box-rotate-plane 1s infinite linear;
}

@keyframes box-rotate-plane{
    0%{
        transform: perspective(120px);
    }
    50%{
        transform: perspective(120px) rotateY(180deg);
    }
    100%{
        transform: perspective(120px) rotateY(180deg) rotateX(180deg);
    }
}