.line-container {
  width: 60%;
  height: 5px;
  background-color: white;
  position: relative;
}

.line {
  width: 100%;
  height: 100%;
  position: absolute;
  background: rgb(255, 255, 255);
  background: linear-gradient(
    90deg,
    rgba(255, 255, 255, 1) 10%,
    rgba(2, 0, 36, 1) 87%,
    rgba(0, 0, 0, 1) 100%
  );
  animation: move 800ms infinite linear;
}

@keyframes move{
  0%{
    transform: translateX(-100%);
  }
  100%{
    transform: translateX(100%);
  }
}
